.forkme-container{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 50px;
}
.forkme-container>a{
    position: absolute;
    display: inline-block;
    width: 200px;
    font-size: 18px;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -100px;
    font-weight: bold;
    color: gray;
    text-align: center;
    text-decoration: underline;
}