<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ES6 LOTTERY</title>
</head>
<body>
    hello
    <script src="/js/index.js"></script>
</body>
</html>